
{%  extends "base.html" %}
{% block page_title %} Contact {% endblock %}
{% block page_header %} Contact Info: {% endblock %}

{% block page_content %}

{% if form_submitted %}
    <div class="col-12">
    <h3> Thank you for completing my form!</h3>
    </div>
<div class="col-12">
    <p>First name: </p>
    <p>{{ request.form.get('first_name') }}</p>
</div>
<div class="col-12">
    <p>Last name: </p>
    <p>{{ request.form.get('last_name') }}</p>
</div>
<div class="col-12">
    <p>Birthday: </p>
    <p>{{ request.form.get('birthday') }}</p>
</div>
<div class="col-12">
    <p>Email: </p>
    <p>{{ request.form.get('email') }}</p>
    </div>
<p><a href="{{ url_for('contact') }}">Complete form again!</a></p>

    {% else %}
<form class="row g-3" action="{{ url_for('contact') }}" method="post">
<div class="col-md-6">

      <label for="first_name" class="form-label">First Name:</label>
    <input type="text" class="form-control" placeholder="Enter Your First name" aria-label="First name" id=first_name name="first_name">
  </div>
  <div class="col-md-6">
          <label for="last_name" class="form-label">Last Name:</label>
    <input type="text" class="form-control" placeholder="Enter Your Last name" id=last_name aria-label="Last name" name="last_name">
  </div>
 <div class="col-md-6">
    <label for="birthday" class="form-label">Birthday: </label>
    <input type="date" class="form-control" id="birthday" name="birthday">
  </div>
<div class="col-md-6">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" placeholder="Enter Your Email Address"  id="email" name="email">
  </div>


 <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
{% endif %}
</form>

{% endblock %}